@page "/account"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage Storage
@inject NavigationManager navigation
@inject IHttpClientFactory ClientFactory
<h3>Account</h3>

<h4>Kullanıcının yaptığı offerlar</h4>

@code {
          
        
}
