@page "/categoryList"
@using Core.Dtos.CategoryDto
@using System.Net.Http.Json
@inject IHttpClientFactory ClientFactory
<h3>Category List</h3>

@if (categoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categoryList)
            {
            <tr>
                <td>@category.Name</td>
                <td colspan="3"><button type="submit" class="btn btn-success" value="Urunlere git" onclick="/productList">Urunlere git</button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<CategoryDto> categoryList;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient();
        categoryList = await client.GetFromJsonAsync<List<CategoryDto>>("https://localhost:5001/api/category/getall");

    }
}
