@page "/product/{id:int}"

@using Core.Dtos.ProductDto

@inject IHttpClientFactory ClientFactory
@inject ProtectedLocalStorage Storage
<h3>Product Detail</h3>
@if(product == null)
{
    <p>Product is loading...</p>
}else
            {
<p>@product.Name</p>
            }




@code {

    [Parameter]
    public int id { get; set; }
    ProductDto product = new ProductDto();

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient();
        var request = new HttpRequestMessage(HttpMethod.Get,$"https://localhost:44320/api/product/{id}");
        var token = await Storage.GetAsync<string>("token");

        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token.Value);

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            product = System.Text.Json.JsonSerializer.Deserialize<ProductDto>(json);           
        }

        

    }

}
